.mule/plugins-tmp/mule-rosettanet-connector-2.0.0-mule-plugin/PIP3C3/3C3_MS_V01_00_InvoiceNotification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v3.5 NT (http://www.xmlspy.com) by Sarah DeHart (RosettaNet) -->
<!--
  
  RosettaNet XML Message Schema
  3C3_MS_V01_00_InvoiceNotification.dtd 27-Sep-2001 21:13)
  This document has been prepared by RosettaNet (http://www.rosettanet.org/)
  from requirements gathered during the cluster/segment workshops
  in conformance with the RosettaNet methodology.
  
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:element name="Pip3C3InvoiceNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="fromRole"/>
        <xs:element ref="GlobalDocumentFunctionCode"/>
        <xs:element ref="Invoice"/>
        <xs:element ref="thisDocumentGenerationDateTime"/>
        <xs:element ref="thisDocumentIdentifier"/>
        <xs:element ref="toRole"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fromRole" type="PartnerRoleDescription"/>
  <xs:complexType name="PartnerRoleDescription">
    <xs:sequence>
      <xs:element ref="PartnerRoleDescription"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PartnerRoleDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ContactInformation"/>
        <xs:element ref="GlobalPartnerRoleClassificationCode"/>
        <xs:element ref="PartnerDescription"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContactInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="contactName"/>
        <xs:element ref="EmailAddress"/>
        <xs:element minOccurs="0" ref="facsimileNumber"/>
        <xs:element ref="telephoneNumber"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="contactName" type="FreeFormText"/>
  <xs:complexType name="FreeFormText">
    <xs:sequence>
      <xs:element ref="FreeFormText"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FreeFormText">
    <xs:complexType mixed="true">
      <xs:attribute ref="xml:lang"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailAddress" type="xs:string"/>
  <xs:element name="facsimileNumber" type="CommunicationsNumber"/>
  <xs:complexType name="CommunicationsNumber">
    <xs:sequence>
      <xs:element ref="CommunicationsNumber"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommunicationsNumber" type="xs:string"/>
  <xs:element name="telephoneNumber" type="CommunicationsNumber"/>
  <xs:element name="GlobalPartnerRoleClassificationCode" type="xs:string"/>
  <xs:element name="PartnerDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="BusinessDescription"/>
        <xs:element minOccurs="0" ref="GlobalPartnerClassificationCode"/>
        <xs:element minOccurs="0" ref="PhysicalLocation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusinessDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="businessName"/>
        <xs:element minOccurs="0" ref="GlobalBusinessIdentifier"/>
        <xs:element minOccurs="0" ref="GlobalSupplyChainCode"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="PartnerBusinessIdentification"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="businessName" type="FreeFormText"/>
  <xs:element name="GlobalBusinessIdentifier" type="xs:string"/>
  <xs:element name="GlobalSupplyChainCode" type="xs:string"/>
  <xs:element name="PartnerBusinessIdentification">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ProprietaryBusinessIdentifier"/>
        <xs:element ref="ProprietaryDomainIdentifier"/>
        <xs:element minOccurs="0" ref="ProprietaryIdentifierAuthority"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProprietaryBusinessIdentifier" type="xs:string"/>
  <xs:element name="ProprietaryDomainIdentifier" type="xs:string"/>
  <xs:element name="ProprietaryIdentifierAuthority" type="xs:string"/>
  <xs:element name="GlobalPartnerClassificationCode" type="xs:string"/>
  <xs:element name="PhysicalLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="GlobalLocationIdentifier"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="PartnerLocationIdentification"/>
        <xs:element minOccurs="0" ref="PhysicalAddress"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GlobalLocationIdentifier" type="xs:string"/>
  <xs:element name="PartnerLocationIdentification">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ProprietaryDomainIdentifier"/>
        <xs:element minOccurs="0" ref="ProprietaryIdentifierAuthority"/>
        <xs:element ref="ProprietaryLocationIdentifier"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProprietaryLocationIdentifier" type="xs:string"/>
  <xs:element name="PhysicalAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="addressLine1"/>
        <xs:element minOccurs="0" ref="addressLine2"/>
        <xs:element minOccurs="0" ref="addressLine3"/>
        <xs:element minOccurs="0" ref="cityName"/>
        <xs:element minOccurs="0" ref="GlobalCountryCode"/>
        <xs:element minOccurs="0" ref="NationalPostalCode"/>
        <xs:element minOccurs="0" ref="postOfficeBoxIdentifier"/>
        <xs:element minOccurs="0" ref="regionName"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addressLine1" type="FreeFormText"/>
  <xs:element name="addressLine2" type="FreeFormText"/>
  <xs:element name="addressLine3" type="FreeFormText"/>
  <xs:element name="cityName" type="FreeFormText"/>
  <xs:element name="NationalPostalCode" type="xs:string"/>
  <xs:element name="postOfficeBoxIdentifier" type="FreeFormText"/>
  <xs:element name="regionName" type="FreeFormText"/>
  <xs:element name="GlobalDocumentFunctionCode" type="xs:string"/>
  <xs:element name="Invoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="billTo"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="billToAccount"/>
        <xs:element minOccurs="0" ref="Financing"/>
        <xs:element ref="GlobalDocumentTypeCode"/>
        <xs:element minOccurs="0" ref="GlobalPaymentTermsCode"/>
        <xs:element maxOccurs="unbounded" ref="InvoiceLineItem"/>
        <xs:element ref="isLockBoxUsed"/>
        <xs:element ref="isRebill"/>
        <xs:element minOccurs="0" ref="originalInvoiceNumber"/>
        <xs:element minOccurs="0" ref="preTaxAmount"/>
        <xs:element minOccurs="0" ref="proprietaryInformation"/>
        <xs:element minOccurs="0" ref="purchaseOrderNumber"/>
        <xs:element ref="remitTo"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="remitToAccount"/>
        <xs:element minOccurs="0" ref="remitToTax"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="salesOrderIdentifier"/>
        <xs:element minOccurs="0" ref="soldTo"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="soldToAccount"/>
        <xs:element minOccurs="0" ref="soldToTax"/>
        <xs:element ref="totalInvoiceAmount"/>
        <xs:element minOccurs="0" ref="transferTo"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="transferToAccount"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="billTo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PartnerDescription"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="billToAccount" type="AccountNumber"/>
  <xs:complexType name="AccountNumber">
    <xs:sequence>
      <xs:element ref="AccountNumber"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountNumber" type="xs:string"/>
  <xs:element name="Financing">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="approvalIdentifier"/>
        <xs:element minOccurs="0" ref="financingPlanIdentifier"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="approvalIdentifier" type="ProprietaryReferenceIdentifier"/>
  <xs:complexType name="ProprietaryReferenceIdentifier">
    <xs:sequence>
      <xs:element ref="ProprietaryReferenceIdentifier"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProprietaryReferenceIdentifier" type="xs:string"/>
  <xs:element name="financingPlanIdentifier" type="ProprietaryReferenceIdentifier"/>
  <xs:element name="GlobalDocumentTypeCode" type="xs:string"/>
  <xs:element name="GlobalPaymentTermsCode" type="xs:string"/>
  <xs:element name="InvoiceLineItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="invoiceAmount"/>
        <xs:element ref="LineNumber"/>
        <xs:element ref="OrderStatus"/>
        <xs:element minOccurs="0" ref="packingSlipIdentifier"/>
        <xs:element minOccurs="0" ref="prepaymentAmount"/>
        <xs:element minOccurs="0" ref="preTaxAmount"/>
        <xs:element minOccurs="0" ref="proprietaryInformation"/>
        <xs:element minOccurs="0" ref="shipTo"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="shipToAccount"/>
        <xs:element ref="totalLineItemAmount"/>
        <xs:element minOccurs="0" ref="transportedBy"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="transportedByAccount"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="invoiceAmount">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="FinancialAmount"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinancialAmount">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="GlobalCurrencyCode"/>
        <xs:element minOccurs="0" ref="GlobalMonetaryAmountTypeCode"/>
        <xs:element minOccurs="0" ref="InvoiceChargeTypeCode"/>
        <xs:element ref="MonetaryAmount"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GlobalCurrencyCode" type="xs:string"/>
  <xs:element name="GlobalMonetaryAmountTypeCode" type="xs:string"/>
  <xs:element name="InvoiceChargeTypeCode" type="xs:string"/>
  <xs:element name="MonetaryAmount" type="xs:string"/>
  <xs:element name="LineNumber" type="xs:string"/>
  <xs:element name="OrderStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="primaryIdentifier"/>
        <xs:element ref="PurchaseOrder"/>
        <xs:element minOccurs="0" ref="secondaryIdentifier"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="primaryIdentifier" type="ProprietaryShipmentTrackingIdentifier"/>
  <xs:complexType name="ProprietaryShipmentTrackingIdentifier">
    <xs:sequence>
      <xs:element ref="ProprietaryShipmentTrackingIdentifier"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProprietaryShipmentTrackingIdentifier" type="xs:string"/>
  <xs:element name="PurchaseOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="GlobalShipmentTermsCode"/>
        <xs:element minOccurs="0" ref="governmentContractIdentifier"/>
        <xs:element maxOccurs="unbounded" ref="ProductLineItem"/>
        <xs:element minOccurs="0" ref="purchaseOrderNumber"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GlobalShipmentTermsCode" type="xs:string"/>
  <xs:element name="governmentContractIdentifier" type="ProprietaryDocumentIdentifier"/>
  <xs:complexType name="ProprietaryDocumentIdentifier">
    <xs:sequence>
      <xs:element ref="ProprietaryDocumentIdentifier"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProprietaryDocumentIdentifier" type="xs:string"/>
  <xs:element name="ProductLineItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="countryOfOrigin"/>
        <xs:element ref="GlobalProductUnitOfMeasureCode"/>
        <xs:element minOccurs="0" ref="GlobalShippingServiceLevelCode"/>
        <xs:element ref="LineNumber"/>
        <xs:element ref="ProductDescription"/>
        <xs:element ref="ProductQuantity"/>
        <xs:element minOccurs="0" ref="shipDate"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="shipFrom"/>
        <xs:element minOccurs="0" ref="TaxSummary"/>
        <xs:element ref="unitPrice"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="countryOfOrigin">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="GlobalCountryCode"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GlobalCountryCode" type="xs:string"/>
  <xs:element name="GlobalProductUnitOfMeasureCode" type="xs:string"/>
  <xs:element name="GlobalShippingServiceLevelCode" type="xs:string"/>
  <xs:element name="ProductDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="LotIdentification"/>
        <xs:element minOccurs="0" ref="NationalExportControlClassificationCode"/>
        <xs:element minOccurs="0" ref="NationalHarmonizedTariffScheduleCode"/>
        <xs:element ref="ProductIdentification"/>
        <xs:element minOccurs="0" ref="ProprietarySerialIdentifier"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LotIdentification">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="primaryLotIdentifier"/>
        <xs:element minOccurs="0" ref="secondaryLotIdentifier"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="primaryLotIdentifier" type="ProprietaryReferenceIdentifier"/>
  <xs:element name="secondaryLotIdentifier" type="ProprietaryReferenceIdentifier"/>
  <xs:element name="NationalExportControlClassificationCode" type="xs:string"/>
  <xs:element name="NationalHarmonizedTariffScheduleCode" type="xs:string"/>
  <xs:element name="ProductIdentification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="GlobalProductIdentifier"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="PartnerProductIdentification"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GlobalProductIdentifier" type="xs:string"/>
  <xs:element name="PartnerProductIdentification">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="GlobalPartnerClassificationCode"/>
        <xs:element ref="ProprietaryProductIdentifier"/>
        <xs:element minOccurs="0" ref="revisionIdentifier"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProprietaryProductIdentifier" type="xs:string"/>
  <xs:element name="revisionIdentifier" type="FreeFormText"/>
  <xs:element name="ProprietarySerialIdentifier" type="xs:string"/>
  <xs:element name="ProductQuantity" type="xs:string"/>
  <xs:element name="shipDate" type="DateStamp"/>
  <xs:complexType name="DateStamp">
    <xs:sequence>
      <xs:element ref="DateStamp"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DateStamp" type="xs:string"/>
  <xs:element name="shipFrom">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PartnerDescription"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaxSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="CityTax"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="NationalTax"/>
        <xs:element minOccurs="0" ref="RegionalTax"/>
        <xs:element minOccurs="0" ref="totalAmount"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CityTax">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cityName"/>
        <xs:element ref="FinancialAmount"/>
        <xs:element minOccurs="0" ref="taxRate"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="taxRate" type="PercentAmount"/>
  <xs:complexType name="PercentAmount">
    <xs:sequence>
      <xs:element ref="PercentAmount"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PercentAmount" type="xs:string"/>
  <xs:element name="NationalTax">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="FinancialAmount"/>
        <xs:element ref="NationalBusinessTaxIdentifier"/>
        <xs:element minOccurs="0" ref="taxRate"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NationalBusinessTaxIdentifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="BusinessTaxIdentifier"/>
        <xs:element ref="GlobalCountryCode"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusinessTaxIdentifier" type="xs:string"/>
  <xs:element name="RegionalTax">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="FinancialAmount"/>
        <xs:element ref="RegionalBusinessTaxIdentifier"/>
        <xs:element minOccurs="0" ref="taxRate"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegionalBusinessTaxIdentifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="BusinessTaxIdentifier"/>
        <xs:element ref="regionName"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="totalAmount">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="FinancialAmount"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="unitPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="FinancialAmount"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="purchaseOrderNumber" type="ProprietaryDocumentIdentifier"/>
  <xs:element name="secondaryIdentifier" type="ProprietaryShipmentTrackingIdentifier"/>
  <xs:element name="packingSlipIdentifier" type="ProprietaryDocumentIdentifier"/>
  <xs:element name="prepaymentAmount">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="FinancialAmount"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="preTaxAmount">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="FinancialAmount"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="proprietaryInformation" type="FreeFormText"/>
  <xs:element name="shipTo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PartnerDescription"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="shipToAccount" type="AccountNumber"/>
  <xs:element name="totalLineItemAmount">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="FinancialAmount"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="transportedBy">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PartnerDescription"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="transportedByAccount" type="AccountNumber"/>
  <xs:element name="isLockBoxUsed" type="AffirmationIndicator"/>
  <xs:complexType name="AffirmationIndicator">
    <xs:sequence>
      <xs:element ref="AffirmationIndicator"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AffirmationIndicator" type="xs:string"/>
  <xs:element name="isRebill" type="AffirmationIndicator"/>
  <xs:element name="originalInvoiceNumber" type="ProprietaryDocumentIdentifier"/>
  <xs:element name="remitTo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PartnerDescription"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="remitToAccount" type="AccountNumber"/>
  <xs:element name="remitToTax">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="TaxSummary"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="salesOrderIdentifier" type="ProprietaryDocumentIdentifier"/>
  <xs:element name="soldTo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PartnerDescription"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="soldToAccount" type="AccountNumber"/>
  <xs:element name="soldToTax">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="TaxSummary"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="totalInvoiceAmount">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="FinancialAmount"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="transferTo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PartnerDescription"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="transferToAccount" type="AccountNumber"/>
  <xs:element name="thisDocumentGenerationDateTime" type="DateTimeStamp"/>
  <xs:complexType name="DateTimeStamp">
    <xs:sequence>
      <xs:element ref="DateTimeStamp"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DateTimeStamp" type="xs:string"/>
  <xs:element name="thisDocumentIdentifier" type="ProprietaryDocumentIdentifier"/>
  <xs:element name="toRole" type="PartnerRoleDescription"/>
</xs:schema>
