.mule/plugins-tmp/mule-rosettanet-connector-2.0.0-mule-plugin/PIP3A6/3A6_MS_V02_02_PurchaseOrderStatusNotification.dtd

<!-- 

RosettaNet XML Message Schema
3A6_MS_V02_02_PurchaseOrderStatusNotification.dtd (2-Dec-2002 11:01:13 AM)
This document has been prepared by RosettaNet (http://www.rosettanet.org) from requirements gathered during the cluster/segment workshops and in conformance with the RosettaNet methodology.

-->

<!ENTITY % common-attributes "id CDATA #IMPLIED">

<!ELEMENT Pip3A6PurchaseOrderStatusNotification
	(fromRole, 
	 GlobalDocumentFunctionCode?, 
	 OrderStatus, 
	 thisDocumentGenerationDateTime, 
	 thisDocumentIdentifier, 
	 toRole)>

<!ELEMENT fromRole
	(PartnerRoleDescription)>

<!ELEMENT PartnerRoleDescription
	(ContactInformation?, 
	 GlobalPartnerRoleClassificationCode, 
	 PartnerDescription)>

<!ELEMENT ContactInformation
	(contactName?, 
	 EmailAddress?, 
	 facsimileNumber?, 
	 telephoneNumber?)>

<!ELEMENT contactName
	(FreeFormText)>

<!ELEMENT FreeFormText
	(#PCDATA)>

<!ATTLIST FreeFormText xml:lang CDATA #IMPLIED >

<!ELEMENT EmailAddress
	(#PCDATA)>

<!ELEMENT facsimileNumber
	(CommunicationsNumber)>

<!ELEMENT CommunicationsNumber
	(#PCDATA)>

<!ELEMENT telephoneNumber
	(CommunicationsNumber)>

<!ELEMENT GlobalPartnerRoleClassificationCode
	(#PCDATA)>

<!ELEMENT PartnerDescription
	(BusinessDescription, 
	 GlobalPartnerClassificationCode, 
	 ContactInformation?, 
	 PhysicalLocation?)>

<!ELEMENT BusinessDescription
	(GlobalBusinessIdentifier?, 
	 GlobalSupplyChainCode?, 
	 businessName?, 
	 PartnerBusinessIdentification*, 
	 NationalBusinessTaxIdentifier?)>

<!ELEMENT GlobalBusinessIdentifier
	(#PCDATA)>

<!ELEMENT GlobalSupplyChainCode
	(#PCDATA)>

<!ELEMENT GlobalPartnerClassificationCode
	(#PCDATA)>

<!ELEMENT GlobalDocumentFunctionCode
	(#PCDATA)>

<!ELEMENT OrderStatus
	(GlobalNotificationReasonCode, 
	 PurchaseOrder)>

<!ELEMENT GlobalNotificationReasonCode
	(#PCDATA)>

<!ELEMENT PurchaseOrder
	(AccountDescription?, 
	 comments?, 
	 ContractInformation*, 
	 DocumentReference*, 
	 FinancingTerms*, 
	 generalServicesAdministrationNumber?, 
	 GlobalGovernmentPriorityRatingCode?, 
	 GlobalPurchaseOrderAcknowledgmentReasonCode*, 
	 GlobalPurchaseOrderFillPriorityCode?, 
	 GlobalPurchaseOrderStatusCode, 
	 GlobalPurchaseOrderTypeCode+, 
	 governmentContractIdentifier?, 
	 installAt?, 
	 LineNumber?, 
	 OrderShippingInformation?, 
	 originalScheduledEvent*, 
	 ProductLineItem+, 
	 proprietaryInformation?, 
	 purchaseOrderDate?, 
	 purchaseOrderIdentifier, 
	 requestedEvent?, 
	 requestedShipFrom*, 
	 RevisionNumber?, 
	 scheduledEvent?, 
	 SecondaryBuyer?, 
	 shipFrom*, 
	 ShipmentStatusInformation*, 
	 ShippedQuantityInformation*, 
	 shipTo?, 
	 TaxExemptStatus?, 
	 TaxSummary?, 
	 totalAmount?, 
	 transportedBy*)>

<!ELEMENT AccountDescription
	(accountName, 
	 AccountNumber?, 
	 billTo?, 
	 CreditCard?, 
	 financedBy?, 
	 GlobalAccountClassificationCode?, 
	 prePaymentCheckNumber?, 
	 WireTransferIdentifier?)>

<!ELEMENT accountName
	(FreeFormText)>

<!ELEMENT AccountNumber
	(#PCDATA)>

<!ELEMENT billTo
	(PartnerDescription)>

<!ELEMENT businessName
	(FreeFormText)>

<!ELEMENT PartnerBusinessIdentification
	(ProprietaryBusinessIdentifier, 
	 ProprietaryDomainIdentifier, 
	 ProprietaryIdentifierAuthority?)>

<!ELEMENT ProprietaryBusinessIdentifier
	(#PCDATA)>

<!ELEMENT ProprietaryDomainIdentifier
	(#PCDATA)>

<!ELEMENT ProprietaryIdentifierAuthority
	(#PCDATA)>

<!ELEMENT PhysicalLocation
	(GlobalLocationIdentifier?, 
	 PartnerLocationIdentification*, 
	 PhysicalAddress?)>

<!ELEMENT GlobalLocationIdentifier
	(#PCDATA)>

<!ELEMENT PartnerLocationIdentification
	(ProprietaryDomainIdentifier, 
	 ProprietaryIdentifierAuthority?, 
	 ProprietaryLocationIdentifier)>

<!ELEMENT ProprietaryLocationIdentifier
	(#PCDATA)>

<!ELEMENT PhysicalAddress
	(addressLine1?, 
	 addressLine2?, 
	 addressLine3?, 
	 cityName?, 
	 GlobalCountryCode?, 
	 NationalPostalCode?, 
	 postOfficeBoxIdentifier?, 
	 regionName?)>

<!ELEMENT addressLine1
	(FreeFormText)>

<!ELEMENT addressLine2
	(FreeFormText)>

<!ELEMENT addressLine3
	(FreeFormText)>

<!ELEMENT cityName
	(FreeFormText)>

<!ELEMENT GlobalCountryCode
	(#PCDATA)>

<!ELEMENT NationalPostalCode
	(#PCDATA)>

<!ELEMENT postOfficeBoxIdentifier
	(FreeFormText)>

<!ELEMENT regionName
	(FreeFormText)>

<!ELEMENT CreditCard
	(cardHolderName, 
	 creditCardIdentifier, 
	 expiryDate, 
	 GlobalCreditCardClassificationCode, 
	 ProprietaryCIDIdentifier?)>

<!ELEMENT cardHolderName
	(FreeFormText)>

<!ELEMENT creditCardIdentifier
	(ProprietaryReferenceIdentifier)>

<!ELEMENT ProprietaryReferenceIdentifier
	(#PCDATA)>

<!ELEMENT expiryDate
	(DateStamp)>

<!ELEMENT DateStamp
	(#PCDATA)>

<!ELEMENT GlobalCreditCardClassificationCode
	(#PCDATA)>

<!ELEMENT ProprietaryCIDIdentifier
	(#PCDATA)>

<!ELEMENT financedBy
	(PartnerDescription)>

<!ELEMENT GlobalAccountClassificationCode
	(#PCDATA)>

<!ELEMENT prePaymentCheckNumber
	(CheckNumber)>

<!ELEMENT CheckNumber
	(#PCDATA)>

<!ELEMENT WireTransferIdentifier
	(#PCDATA)>

<!ELEMENT comments
	(FreeFormText)>

<!ELEMENT ContractInformation
	(contractIdentifier, 
	 PhysicalLocation?, 
	 primaryContractWith?, 
	 secondaryContractWith?)>

<!ELEMENT contractIdentifier
	(ProprietaryDocumentIdentifier)>

<!ELEMENT ProprietaryDocumentIdentifier
	(#PCDATA)>

<!ELEMENT primaryContractWith
	(PartnerCompanyDescription)>

<!ELEMENT PartnerCompanyDescription
	(BusinessDescription, 
	 GlobalPartnerClassificationCode?)>

<!ELEMENT secondaryContractWith
	(PartnerCompanyDescription)>

<!ELEMENT DocumentReference
	(DateTimeStamp?, 
	 GlobalDocumentReferenceTypeCode, 
	 GlobalPartnerRoleClassificationCode?, 
	 LineNumber?, 
	 ProprietaryDocumentIdentifier, 
	 RevisionNumber?)>

<!ELEMENT DateTimeStamp
	(#PCDATA)>

<!ELEMENT GlobalDocumentReferenceTypeCode
	(#PCDATA)>

<!ELEMENT LineNumber
	(#PCDATA)>

<!ELEMENT RevisionNumber
	(#PCDATA)>

<!ELEMENT FinancingTerms
	(GlobalFinanceTermsCode?, 
	 PaymentTerms*)>

<!ELEMENT GlobalFinanceTermsCode
	(#PCDATA)>

<!ELEMENT PaymentTerms
	(Discounts*, 
	 GlobalPaymentConditionCode?, 
	 netTermsDay?, 
	 netTermsDays?, 
	 percentDue?)>

<!ELEMENT Discounts
	(discountDay?, 
	 discountDays?, 
	 discountPercent?)>

<!ELEMENT discountDay
	(DayOfMonth)>

<!ELEMENT DayOfMonth
	(#PCDATA)>

<!ELEMENT discountDays
	(CountableAmount)>

<!ELEMENT CountableAmount
	(#PCDATA)>

<!ELEMENT discountPercent
	(PercentAmount)>

<!ELEMENT PercentAmount
	(#PCDATA)>

<!ELEMENT GlobalPaymentConditionCode
	(#PCDATA)>

<!ELEMENT netTermsDay
	(DayOfMonth)>

<!ELEMENT netTermsDays
	(CountableAmount)>

<!ELEMENT percentDue
	(PercentAmount)>

<!ELEMENT generalServicesAdministrationNumber
	(ProprietaryDocumentIdentifier)>

<!ELEMENT GlobalGovernmentPriorityRatingCode
	(#PCDATA)>

<!ELEMENT GlobalPurchaseOrderAcknowledgmentReasonCode
	(#PCDATA)>

<!ELEMENT GlobalPurchaseOrderFillPriorityCode
	(#PCDATA)>

<!ELEMENT GlobalPurchaseOrderStatusCode
	(#PCDATA)>

<!ELEMENT GlobalPurchaseOrderTypeCode
	(#PCDATA)>

<!ELEMENT governmentContractIdentifier
	(ProprietaryDocumentIdentifier)>

<!ELEMENT installAt
	(PartnerDescription)>

<!ELEMENT OrderShippingInformation
	(CarrierInformation?, 
	 GlobalFreeOnBoardCode?, 
	 GlobalShipmentTermsCode?, 
	 GlobalShippingServiceLevelCode?, 
	 GlobalSpecialFulfillmentRequestCode*, 
	 packListRequirements?, 
	 SpecialHandlingInstruction?)>

<!ELEMENT CarrierInformation
	(accountIdentifier?, 
	 GlobalCarrierCode)>

<!ELEMENT accountIdentifier
	(ProprietaryReferenceIdentifier)>

<!ELEMENT GlobalCarrierCode
	(#PCDATA)>

<!ELEMENT GlobalFreeOnBoardCode
	(#PCDATA)>

<!ELEMENT GlobalShipmentTermsCode
	(#PCDATA)>

<!ELEMENT GlobalShippingServiceLevelCode
	(#PCDATA)>

<!ELEMENT GlobalSpecialFulfillmentRequestCode
	(#PCDATA)>

<!ELEMENT packListRequirements
	(FreeFormText)>

<!ELEMENT SpecialHandlingInstruction
	(GlobalSpecialHandlingCode*, 
	 specialHandlingText?)>

<!ELEMENT GlobalSpecialHandlingCode
	(#PCDATA)>

<!ELEMENT specialHandlingText
	(FreeFormText)>

<!ELEMENT originalScheduledEvent
	(TransportationEvent)>

<!ELEMENT TransportationEvent
	(DateStamp, 
	 GlobalTransportEventCode)>

<!ELEMENT GlobalTransportEventCode
	(#PCDATA)>

<!ELEMENT ProductLineItem
	(buyerLineItem, 
	 comments?, 
	 ContractInformation*, 
	 countryOfOrigin?, 
	 CustomerInformation*, 
	 DocumentReference*, 
	 expediteReferenceIdentifier?, 
	 GlobalLineItemStatusCode, 
	 GlobalProductUnitOfMeasureCode, 
	 GlobalPurchaseOrderAcknowledgmentReasonCode*, 
	 GlobalPurchaseOrderFillPriorityCode?, 
	 GlobalPurchaseOrderStatusCode, 
	 installAt?, 
	 LineNumber, 
	 OrderShippingInformation?, 
	 OrderStatusQuantity+, 
	 originalScheduledEvent*, 
	 ProductIdentification, 
	 ProductSubLineItem*, 
	 proprietaryInformation?, 
	 requestedEvent, 
	 requestedShipFrom*, 
	 requestedUnitPrice?, 
	 RevisionNumber?, 
	 scheduledEvent?, 
	 shipFrom*, 
	 ShipmentStatusInformation*, 
	 ShippedQuantityInformation*, 
	 shipTo?, 
	 SubstituteProductReference*, 
	 TaxExemptStatus?, 
	 TaxSummary?, 
	 totalLineItemAmount?, 
	 unitPrice?)>

<!ELEMENT buyerLineItem
	(LineNumber)>

<!ELEMENT countryOfOrigin
	(GlobalCountryCode)>

<!ELEMENT CustomerInformation
	(customerProjectIdentifier?, 
	 GlobalCustomerTypeCode, 
	 PartnerTaxDescription)>

<!ELEMENT customerProjectIdentifier
	(ProprietaryReferenceIdentifier)>

<!ELEMENT GlobalCustomerTypeCode
	(#PCDATA)>

<!ELEMENT PartnerTaxDescription
	(BusinessDescription, 
	 GlobalPartnerClassificationCode, 
	 PhysicalLocation?)>

<!ELEMENT NationalBusinessTaxIdentifier
	(BusinessTaxIdentifier, 
	 GlobalCountryCode)>

<!ELEMENT BusinessTaxIdentifier
	(#PCDATA)>

<!ELEMENT expediteReferenceIdentifier
	(ProprietaryReferenceIdentifier)>

<!ELEMENT GlobalLineItemStatusCode
	(#PCDATA)>

<!ELEMENT GlobalProductUnitOfMeasureCode
	(#PCDATA)>

<!ELEMENT OrderStatusQuantity
	(GlobalOrderQuantityTypeCode, 
	 ProductQuantity)>

<!ELEMENT GlobalOrderQuantityTypeCode
	(#PCDATA)>

<!ELEMENT ProductQuantity
	(#PCDATA)>

<!ELEMENT ProductIdentification
	(GlobalProductIdentifier?, 
	 PartnerProductIdentification*)>

<!ELEMENT GlobalProductIdentifier
	(#PCDATA)>

<!ELEMENT PartnerProductIdentification
	(GlobalPartnerClassificationCode, 
	 ProprietaryProductIdentifier, 
	 revisionIdentifier?)>

<!ELEMENT ProprietaryProductIdentifier
	(#PCDATA)>

<!ELEMENT revisionIdentifier
	(FreeFormText)>

<!ELEMENT ProductSubLineItem
	(buyerSubLineItem?, 
	 comments?, 
	 ContractInformation*, 
	 countryOfOrigin?, 
	 CustomerInformation*, 
	 expediteReferenceIdentifier?, 
	 GlobalLineItemStatusCode, 
	 GlobalProductUnitOfMeasureCode, 
	 GlobalPurchaseOrderAcknowledgmentReasonCode*, 
	 GlobalPurchaseOrderFillPriorityCode?, 
	 GlobalPurchaseOrderStatusCode, 
	 installAt?, 
	 OrderShippingInformation?, 
	 OrderStatusQuantity+, 
	 originalScheduledEvent*, 
	 proprietaryInformation?, 
	 requestedEvent, 
	 requestedShipFrom*, 
	 requestedUnitPrice?, 
	 RevisionNumber?, 
	 scheduledEvent?, 
	 shipFrom*, 
	 ShipmentStatusInformation*, 
	 ShippedQuantityInformation*, 
	 shipTo?, 
	 subLineItem, 
	 unitPrice?)>

<!ELEMENT buyerSubLineItem
	(LineNumber)>

<!ELEMENT proprietaryInformation
	(FreeFormText)>

<!ELEMENT requestedEvent
	(TransportationEvent)>

<!ELEMENT requestedShipFrom
	(PhysicalLocation)>

<!ELEMENT requestedUnitPrice
	(FinancialAmount)>

<!ELEMENT FinancialAmount
	(GlobalCurrencyCode, 
	 GlobalPriceUnitOfMeasureCode?, 
	 InvoiceChargeTypeCode?, 
	 MonetaryAmount, 
	 GlobalMonetaryAmountTypeCode?)>

<!ELEMENT GlobalCurrencyCode
	(#PCDATA)>

<!ELEMENT GlobalPriceUnitOfMeasureCode
	(#PCDATA)>

<!ELEMENT InvoiceChargeTypeCode
	(#PCDATA)>

<!ELEMENT MonetaryAmount
	(#PCDATA)>

<!ELEMENT scheduledEvent
	(TransportationEvent)>

<!ELEMENT shipFrom
	(PartnerCompanyDescription)>

<!ELEMENT ShipmentStatusInformation
	(ProofOfDeliveryInformationResource?, 
	 TrackingReference)>

<!ELEMENT ProofOfDeliveryInformationResource
	(DigitalCertificateSignature?, 
	 numberOfShippingContainers?, 
	 PhysicalLocation?, 
	 receivedByName?)>

<!ELEMENT DigitalCertificateSignature
	(#PCDATA)>

<!ELEMENT numberOfShippingContainers
	(CountableAmount)>

<!ELEMENT receivedByName
	(FreeFormText)>

<!ELEMENT TrackingReference
	(GlobalTrackingReferenceTypeCode, 
	 ProprietaryShipmentTrackingIdentifier)>

<!ELEMENT GlobalTrackingReferenceTypeCode
	(#PCDATA)>

<!ELEMENT ProprietaryShipmentTrackingIdentifier
	(#PCDATA)>

<!ELEMENT ShippedQuantityInformation
	(DateTimeStamp, 
	 DocumentReference*, 
	 shippedQuantity, 
	 LineNumber?)>

<!ELEMENT shippedQuantity
	(ProductQuantity)>

<!ELEMENT shipTo
	(PartnerDescription)>

<!ELEMENT subLineItem
	(LineNumber)>

<!ELEMENT unitPrice
	(FinancialAmount)>

<!ELEMENT GlobalMonetaryAmountTypeCode
	(#PCDATA)>

<!ELEMENT SubstituteProductReference
	(GlobalProductSubstitutionReasonCode, 
	 ProductIdentification+)>

<!ELEMENT GlobalProductSubstitutionReasonCode
	(#PCDATA)>

<!ELEMENT TaxExemptStatus
	(isTaxExempt, 
	 TaxExemption?)>

<!ELEMENT isTaxExempt
	(AffirmationIndicator)>

<!ELEMENT AffirmationIndicator
	(#PCDATA)>

<!ELEMENT TaxExemption
	(GlobalTaxExemptionCode, 
	 taxExemptionCertificationIdentifier)>

<!ELEMENT GlobalTaxExemptionCode
	(#PCDATA)>

<!ELEMENT taxExemptionCertificationIdentifier
	(ProprietaryReferenceIdentifier)>

<!ELEMENT TaxSummary
	(CityTax?, 
	 NationalTax?, 
	 RegionalTax?, 
	 totalAmount?)>

<!ELEMENT CityTax
	(cityName, 
	 FinancialAmount, 
	 taxRate?)>

<!ELEMENT taxRate
	(PercentAmount)>

<!ELEMENT NationalTax
	(FinancialAmount, 
	 NationalBusinessTaxIdentifier?, 
	 taxRate?)>

<!ELEMENT RegionalTax
	(FinancialAmount, 
	 RegionalBusinessTaxIdentifier?, 
	 taxRate?)>

<!ELEMENT RegionalBusinessTaxIdentifier
	(BusinessTaxIdentifier, 
	 regionName)>

<!ELEMENT totalAmount
	(FinancialAmount)>

<!ELEMENT totalLineItemAmount
	(FinancialAmount)>

<!ELEMENT purchaseOrderDate
	(DateTimeStamp)>

<!ELEMENT purchaseOrderIdentifier
	(ProprietaryDocumentIdentifier)>

<!ELEMENT SecondaryBuyer
	(PartnerDescription, 
	 secondaryBuyerPurchaseOrderIdentifier)>

<!ELEMENT secondaryBuyerPurchaseOrderIdentifier
	(ProprietaryDocumentIdentifier)>

<!ELEMENT transportedBy
	(PartnerCompanyDescription)>

<!ELEMENT thisDocumentGenerationDateTime
	(DateTimeStamp)>

<!ELEMENT thisDocumentIdentifier
	(ProprietaryDocumentIdentifier)>

<!ELEMENT toRole
	(PartnerRoleDescription)>

